.grayBox {
    position: fixed;
    z-index: -10;
    background: rgba(0, 0, 0, 0.0);
    width: 100%;
    height: 100%;
    transition: background 400ms;
}

.grayBoxActive {
    z-index: 5;
    background: rgba(0, 0, 0, 0.8);
}


.categories {
    padding-top: 40px;
    height: calc(100vh - 240px);
    width: 250px;
    position: fixed;
    top: 100px;
    background: white;
    transition: all 400ms;
    z-index: 10;

}

.categoriesItem {
    font-weight: 500;
    padding-left: 40px;
    display: flex;
    align-items: center;
    height: 40px;
    color: black;
    text-decoration: none;
}

.categoriesItemActive {
    color: red;
}

.hoveredCategory {
    border-right: 5px solid #d72130;
}

.conferences {
    padding-top: 40px;
    height: calc(100vh - 240px);
    width: 250px;
    transition: all 400ms;
    position: fixed;
    top: 100px;
    background: white;
    z-index: 10;
}

.conferencesItem {
    padding-left: 40px;
    display: flex;
    align-items: center;
    height: 40px;
    color: black;
    text-decoration: none;
}


.conferencesItemActive {
    color: red;
}

.hoveredConference {
    background-color: #fdd;
}

.teams {
    padding-top: 40px;
    height: calc(100vh - 240px);
    width: 200px;
    transition: all 400ms;
    position: fixed;
    top: 100px;
    background: white;
    z-index: 10;
}

.teamsItem {
    padding-left: 40px;
    display: flex;
    align-items: center;
    height: 40px;
    color: black;
    text-decoration: none;
}



.teamsItemActive {
    color: red;
}

.teamsItem:hover {
    background-color: #fdd;

}

.coverFooter {
    height: calc(100vh - 100px);
}

.defaultPosition {
    margin-left: 0;
}

.firstPosition {
    margin-left: 250px;
}

.secondPosition {
    margin-left: 300px;
}

.thirdPosition {
    margin-left: 500px;
}