/*
.footer-info{display:none;}
.search-card {display:none;}
.share-card{display:none;}
.item2{border-right: none; border-left:none;}
.ml-lg-2{display:none;}
.item4{border-left: 1px;}
.profile-section-row.row{justify-content: center;margin:0;}
.all-page{flex-direction: column;}
*/

.wrap-shit{width:100%; height:5000px;display: flex;
flex-direction: column; flex-wrap:wrap;align-items: center;}