.all-page {
    flex-direction: column;
    display: flex;
}

.main-part {
    width: calc(100% - 300px);
    min-height: calc(100vh - 200px);
    margin-left: 300px;

}

.main-content {
    display: flex;
    flex-direction: row;
}

.side {
    display: block;
}

.content {
    min-width:450px;
    width: calc(100% - 450px);
}

@media only screen and (max-width: 1200px) {
    .content {
        width: 90%;
    }

    .side {
        display: none;
    }
}
