.custom-nav {
  width: 300px;
  height: calc(100vh - 200px);
  background: #fff;
  position: fixed;
  top: 100px;
  transition: all 400ms;
  z-index:6;
}
.gray-box {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  transition: background-color 400ms;
  background-color: rgba(0, 0, 0, 0.0);
  z-index:-1;
}

.dropdown-content {
  padding-top: 60px;
  box-shadow: #919191;
}

.left-panel-wrapper {
  width: 300px;
  position: fixed;
}

.scrollbar {
  height: 35vh;
  width: 270px;
  overflow: auto;
  overflow-y: scroll;
  direction: rtl;
  margin: 60px 0 0 30px;
}

#style-1::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #fff;
  height: 10px;
}

#style-1::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  padding-top: 100px;
  background-color: #ddd;
}

.categories {
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  font-weight: bold;
  list-style-type: none;
  text-decoration: none;
  color: lightslategray;
    padding:0px;
}
.subcategories {
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  font-weight: bold;
  list-style-type: none;
  color: lightslategray;
    padding:0px;
}
.subcategories a{
  text-decoration: none!important;

}
.categories a:hover {
  text-decoration: none;
}

.follow {
  width: 100px;
  margin: 60px 0 0 50px;
}

.follow p {
  color: #919191;
  padding-left: 20px;
  margin: 0;
  font-size: large;
}
@media only screen and (max-height: 680px) {
  .follow {
    display: none;
  }
}

.follow button {
  height: 50px;
  width: 50px;
  background: white;
  border: none;
  padding: 0;
}

.follow i {
  font-size: 22px;
}
.modal-full {
  position: fixed;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 300px;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  z-index: 1;
}

.hide-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 6rem;
  background: white;
  width: 265px;
}

.active {
  color: #d72130 !important;
  background-color: cornflowerblue;
  list-style-type: disc;
  direction: ltr;
}

.active-subcategory {
  color: #d72130 !important;
}

.active-team {
  color: #d72130 !important;
}

.not-active:hover {
  color: lightslategray;
}


.dropdown-content-team {
  display: none;
  position: fixed;
  padding-top: 62px;
  top: 100px;
  left: 495px;
  width: 300px;
  z-index: 999999;
  background-color: #fff;
  height: 100%;
}

.category {

  padding: 10px 0;
  margin-left: 20px;
}

.subcategory {
  padding: 10px 50px;
}

.team {
  padding: 10px 50px;
}

.subcategory:hover {
  background: rgba(255, 0, 0, 0.1);
}

.category:hover {
  border-right: 5px solid #d72130;
}

.category:hover .dropdown-content {
  display: block;
}

.subcategory:hover .dropdown-content-team {
  display: block;
}

.dropdown-content:hover {
  display: block;
}

.dropdown-content-team:hover {
  display: block;
}
