.modal-full {
  position: fixed;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 300px;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
}
.hide-footer {
  position: fixed;
  bottom: 0px;
  left: 0;
  height: 6rem;
  background: white;
  width: 265px;
}

.active {
  color: #d72130 !important;
  background-color: cornflowerblue;
  list-style-type: disc;
  direction: ltr;
}
.active-subcategory {
  color: #d72130 !important;
}
.active-team {
  color: #d72130 !important;
}

.not-active:hover {
  color: lightslategray;
}

.dropdown-content {
  padding-top: 64px;
  display: none;
  position: fixed;
  height: 100%;
  top: 100px;
  left: 265px;
  width: 300px;
  z-index: 999999;
  background-color: #fff;

  box-shadow: #919191;
}
.dropdown-content-team {
  display: none;
  position: fixed;
  padding-top: 62px;
  top: 100px;
  left: 495px;
  width: 300px;
  z-index: 999999;
  background-color: #fff;
  height: 100%;
}

.category {
  padding: 10px 0px;
  margin-left: 20px;
}
.subcategory {
  padding: 10px 50px;
}
.team {
  padding: 10px 50px;
}
.subcategory:hover {
  background: rgba(255, 0, 0, 0.1);
}
.category:hover {
  border-right: 5px solid #d72130;
}
.category:hover .dropdown-content {
  display: block;
}
.subcategory:hover .dropdown-content-team {
  display: block;
}

.dropdown-content:hover {
  display: block;
}
.dropdown-content-team:hover {
  display: block;
}
