.sideBarWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bannerWrapper {
    width: 250px;
    height: 220px;
    margin: 25px;
}

.bannerBackground {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.bannerHeadline {
    width: 100%;
    height: 50px;
    background: #4e555b;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #ddd;
    padding-left: 15px;
}

.bannerCategory {

    position: relative;
    bottom: 15px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ddd;
    color: #4e555b;
    padding: 0 10px;


}