.content-part {
    width: calc(100% - 450px)
}

.content_plus_sidebar {
    display: flex;
    width: 100%;
}

.MainArticlesBlock {
    display: flex;
}

.MainArticleCard {
    z-index: -1;
}

.breakwrap3 {
    width: 100%;
    min-height: 800px;
    display: flex;
    flex-grow: 1;
    margin-top: 70px;
    margin-bottom: 90px;
    flex-wrap: wrap;
    align-items: content;
}

.breakwrap {
    width: 50.9vw;
    height: 800px;
    display: flex;
    flex-grow: 1;
    margin-bottom: 90px;
    flex-wrap: wrap;

}


.breakdown {
    margin-top: 45px;
    width: 978px;
    height: 400px;
    z-index: -1;

    display: flex;
    flex-wrap: wrap;

}

.big-a {
    width: 470px;
    height: 360px;
    margin-right: 38px
}

.breakwrap1 {
    width: 50.9vw;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 90px;
    justify-content: space-around;


}

.flex-most {

    display: flex;
    flex-direction: column;
}

.hr1 {
    width: 389px;
    border-top: 1px solid grey;
}

.hr2 {
    width: 290px;
    border-top: 1px solid grey;
}

.break-line {
    border: 1px solid grey;
    border-radius: 80px;
    width: 12vw;
    height: 50px;

    display: flex;
    align-content: center;
    justify-content: center;

}

.break-line > b {
    text-transform: uppercase;
    font-size: 16px;
    padding-top: 12px;
    letter-spacing: .001rem;
    color: black;


}

.break-line-wrap {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;

}

.break-line-wrap1 {
    width: inherit;
    height: 50px;
    display: flex;
    align-items: center;

    margin: 0;
}

.break-line-wrap1 > b {
    width: 147px;

}

.photo-of-the-day {
    width: 100%;
    height: auto;
    z-index: -2;
    background-size: contain;
    margin-top: -80px;

}

.description-of-the-day {
    padding-left: 15px;
    position: relative;
    height: 130px;
    bottom: 130px;
    z-index: -1;
    color: #fff;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.5);
    left: 0;
    display: flex;
    margin: 0;

    flex-wrap: wrap;
}

.description-of-the-day > h3 {
    font-weight: bold;
    letter-spacing: .2rem;
    width: 80%;
    padding: 0;
}

.description-of-the-day > p {
    width: 80%;
    margin-bottom: 0;
}

.text-of-the-day {
    margin: 0;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 75px solid transparent;
    border-bottom: 75px solid transparent;
    border-left: 200px solid red;
    position: relative;
    top: 50px;
    left: -20px;
    z-index: -1;
}

.arrow-right > p {
    width: 70px;
    height: 0;
    text-transform: uppercase;
    position: relative;
    top: -30px;
    left: -180px;
    color: #ffff;
}

.bb {
    font-weight: bold;
}

.pop {
    width: 470px;
    height: 360px;
}


.com {
    width: 470px;
    height: 400px;


}


.pop-card {
    width: inherit;
    display: flex;
    height: 120px;


}

.pop-card > img {
    border-top: 1px solid white;;
    width: 200px;
}

.pop-text {
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding-left: 10px;
    border-top: 0.5px solid lightgrey;
    border-right: 0.5px solid lightgrey;
    border-bottom: 0.5px solid lightgrey;
}

.pop-card:hover {
    color: red;
}

.pop-text1 {
    z-index: 1;
    font-size: 20px;
    font-weight: bold;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    position: relative;
    bottom: 120px;
    padding-left: 10px;
    background-color: #fff;

    border-right: 0.5px solid lightgrey;
    border-bottom: 0.5px solid lightgrey;
    border-left: 0.5px solid lightgrey;

}

@media only screen and (max-width: 1850px) {
    .breakwrap1 {
        width: 55vw
    }
}

@media only screen and (max-width: 1750px) {
    .breakwrap1 {
        width: 60vw;
    }

}

@media only screen and (max-width: 1700px) {
    .breakwrap > .break-line-wrap > .break-line {
        width: 120%;
    }

    .description-of-the-day {
        height: 150px;
        bottom: 150px;
    }

    .breakwrap > .break-line-wrap {
        margin-bottom: -300px;
    }

    .breakwrap {
        margin-bottom: 0;
    }

    .breakwrap3 > .breakdown > .big-a {
        margin-bottom: -40px;
    }

    .breakwrap3 > .breakdown > .com {
        margin-top: 50px;
    }

    .breakdown {
        margin-bottom: 300px;
    }

    .breakwrap1 {
        margin-top: -100px;
        margin-bottom: 400px;
    }
}


@media only screen and (max-width: 1200px) {
    .breakwrap3 > .break-line-wrap {
        width: 466px
    }
}

@media only screen and (max-width: 1100px) {

    .breakwrap > .break-line-wrap > .break-line {
        width: 200%;
    }

    .description-of-the-day {
        height: 170px;
        bottom: 170px;
    }

    .description-of-the-day > p {
        width: 90%;
    }

    .breakwrap > .break-line-wrap {
        padding-top: 100px;
    }

    .breakwrap {
        margin-bottom: 0;
    }

    .arrow-right {
        top: 100px;
        left: -20;
        border-left: 160px solid red;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
    }

    .arrow-right > p {
        left: -140px;
        top: -28px;
        font-size: 13px
    }

    .breakwrap1 {
        width: 50.9vw;
    }

}
