div {
    box-sizing: border-box;
}

html {

}

body {
    margin: 0;
background: white;
}
select, button{
    padding: 5px;
    border-radius: 0;
    border: 1px solid #aaaaaa;

}
option{
 height: 30px;
}

*{
    font-family: Tahoma, sans-serif;
    font-weight: bolder;
}