.admin-footer{
    width: 100%;
    height:900px;
    min-width: 561px;
    display: flex;
    flex-direction: column;
}

.admin-footer-header{
    min-width: 561px;
    width: 40%;
    display: flex;
    justify-content: space-around;
    

}
.footer-wrapper{
    height:900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.admin-footer-header>a:visited{
    color: red;
}
.footer-block{
    width:60%;
    height:400px;
    margin-top:50px;
    margin-bottom: 20px;
    min-width: 561px;
}
.footer-block1{
    width:60%;
    height:auto;
    margin-top:-200px;
    margin-bottom: 20px;
    min-width: 561px;
}
.footer-head{ background-color:rgba(242, 242, 242);
    height:60px;
    display:flex;
    
    align-items: center;}
.sub-footer-head1{
    height:60px;
    width:65%; 
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}
.footer-head>.sub-footer-head1>p{
    margin: 0; 
    padding: 0;
    font-weight: bold;
    color:rgba(64,76,93);
    font-size: 15px;
 
}
.footer-head>.center-wrapper>.sub-footer-head2>p{
    margin: 0; 
    padding: 0;
    font-weight: bold;
    color:rgba(64,76,93);
    font-size: 15px;
 
}
.footer-head>.center-wrapper>.sub-footer-head3>p{
    margin: 0; 
    padding: 0;
    font-weight: bold;
    color:rgba(64,76,93);
    font-size: 15px;
 
}
.center-wrapper{
    width:35%;
    height:60px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.sub-footer-head2{
    height:60px;
    width:50%; 
    display:flex;
    justify-content: center;
    align-items: center;
 
}
.sub-footer-head3{
    height:60px;
    width:50%; 
    display:flex;
    justify-content: center;
    align-items: center;

   
}

.sub-sub-footer-block{
    display:flex;
    justify-content:flex-start  ;
    align-items: center;
    width:60%; 
    padding-left: 20px;
}

.switch-icon-footer-block{
    width:40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
   
}
.switch-icon-footer-block>label{
    margin-top:16px;

}

.sub-language-block>.sub-sub-footer-block>p{
    margin: 0; 
    padding: 0;
    font-weight: bold;
    color:rgba(64,76,93);
    font-size: 15px;
 
}
.contact-us{
    margin-top:50px;
    width:35%;
    height:400px;
    background-color:rgba(248,248,248);
    min-width: 400px;
  
}

.contact-us-a{
    margin-top:50px;
    width:35%;
    height:400px;
    background-color:rgba(248,248,248);
    min-width: 400px;
  
}


.textLabelfoot {
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.input-wrapper{
    width: 100%;
    height:350px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
}
.input-wrapper-a{
    width: 100%;
    height:500px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
}