.InformationArchitectureWrapper {
    padding: 5%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.CategoriesWrapper {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Redactor {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*border: 1px solid #ccc;*/
}


.ModalWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ModalInfo {
    padding: 8%;
}

.Input {
    width: calc(100% - 10px);
    height: 35px;
    font-size: 20px;
}

.SimpleCategory {
    color: #aaaaaa;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 40px;
    border: 1px solid #aaaaaa;
    margin-top: 20px;
}

.ActiveCategory {
    color: red;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 40px;
    margin-top: 20px;
}

.TabList {
    border-bottom: 1px solid #ccc;
    padding-left: 0;
}

.TabListItem {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
}

.TabListActive {
    background-color: white;
    border: solid #ccc;
    border-width: 1px 1px 0 1px;
}