.admin-footer{
    width: 100%;
    height:900px;
    min-width: 561px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.admin-footer-header{
    min-width: 561px;
    width: 40%;
    display: flex;
    justify-content: space-around;


}
.footer-wrapper{
    height:900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.admin-footer-header>a:visited{
    color: red;
}
.footer-block{
    width:60%;
    height:400px;
    margin-top:50px;
    margin-bottom: 20px;
    min-width: 561px;
}
.footer-block1{
    width:60%;
    height:auto;
    margin-top:-200px;
    margin-bottom: 20px;
    min-width: 561px;
}
.footer-head{ background-color:rgba(242, 242, 242);
    height:60px;
    display:flex;

    align-items: center;}
.sub-footer-head1{
    height:60px;
    width:65%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}
.footer-head>.sub-footer-head1>p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color:rgba(64,76,93);
    font-size: 15px;

}
.footer-head>.center-wrapper>.sub-footer-head2>p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color:rgba(64,76,93);
    font-size: 15px;

}
.footer-head>.center-wrapper>.sub-footer-head3>p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color:rgba(64,76,93);
    font-size: 15px;

}
.center-wrapper{
    width:35%;
    height:60px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.sub-footer-head2{
    height:60px;
    width:50%;
    display:flex;
    justify-content: center;
    align-items: center;

}
.sub-footer-head3{
    height:60px;
    width:50%;
    display:flex;
    justify-content: center;
    align-items: center;


}

.sub-sub-footer-block{
    display:flex;
    justify-content:flex-start  ;
    align-items: center;
    width:60%;
    padding-left: 20px;
}

.switch-icon-footer-block{
    width:40%;
    display: flex;
    align-items: center;
    justify-content: space-around;


}
.switch-icon-footer-block>label{
    margin-top:16px;

}

.sub-language-block>.sub-sub-footer-block>p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color:rgba(64,76,93);
    font-size: 15px;

}
.contact-us{
    margin-top:50px;
    width:35%;
    height:400px;
    background-color:rgba(248,248,248);
    min-width: 400px;

}

.laguages-block{
    height:auto;
    width:400px;

}

.language-head{
    background-color:rgba(242, 242, 242);
    height:60px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.sub-language-head{
    height:60px;
    width:40%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.language-head>.sub-language-head>p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color:rgba(64,76,93);
    font-size: 15px;

}
.sub-language-block>.sub-sub-language-block>p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color:rgba(64,76,93);
    font-size: 15px;

}

.sub-language-block{
    height:60px;
    border-right:#c8c7c7 solid 1px;
    border-bottom:#c8c7c7 solid 1px;
    border-left:#c8c7c7 solid 1px;
    color:rgba(64,76,93);
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.sub-sub-language-block{
    display:flex;
    justify-content: center;
    align-items: center;
    width:40%;
}

.switch-icon-language-block{
    width:90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.switch-icon-language-block>label{
    margin-top:16px;

}
.custom-switch>.react-switch-bg{
    border:1px rgba(64,76,93) solid;

}
div.sub-language-block:hover{
    border: none;
    box-shadow:0px 0px 8px 0px rgba(0, 0, 0, 0.3);
}
.contact-us-a{
    margin-top:50px;
    width:35%;
    height:400px;
    background-color:rgba(248,248,248);
    min-width: 400px;

}


.textLabelfoot {
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.input-wrapper{
    width: 100%;
    height:350px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
}
.input-wrapper-a{
    width: 100%;
    height:500px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
}
.const-wrap {
    width: 60%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    z-index: 1;
}

.new-article-cancel-alert {
    height: 250px;
    width: 400px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.new-article-cancel-alert-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
    border-bottom: solid #ccc 1px;
    padding: 0 50px;
}

.new-article-cancel-alert-btn {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 50px;
}

.cancel-btn {
    border: none;
    background: white;
    color: #b21f2d;
}

.save-btn {
    border: none;
    color: white;
    background: #b21f2d;
    width: 100px;
    height: 40px;
    margin-left: 30px;
}

.cancel-box {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 400ms;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.main-a-const {

    margin-top: 100px;
    width: 100%;
    height: 1000px;

}

.breakdown-const {
    width: 100%;
    height: 300px;
}

.photo-of-the-day-const {
    width: 100%;
    height: 1300px;
    display: flex;
    flex-wrap: wrap;

}

.mots-sec-const {
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.const-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 250px;
    align-items: center;
    justify-content: space-between;
}

.txt-const {
    color: grey;
}

.small-select {
    width: 30%;
    height: 100px;
}

.big-select {
    width: 100%;
    height: 100px;
}

.previewComponent {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgPreview {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(246, 246, 246);
    border: 2px dotted #bebebe;
    border-radius: 10px;
}

input[type="file"] {
    position: absolute;
    left: 0;
    opacity: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}
.picture{
    height: 400px;
}
.customPhotoupload {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
}

.previewText {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 450px;
    font-size: 18px;
}

.formSelect {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.textForm {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    margin-left: 20%;
    flex-direction: column;
}

.textLabel {
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.textInput {
    width: 100%;
    height: 50px;
}

.most-pop {
    width: 47%;
    height: 50px;
    background: rgb(246, 246, 246);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
}
