.article:hover {
    box-shadow: 1px 1px #ffbbbb,
    2px 2px #ffbbbb,
    3px 3px #ffbbbb,
    4px 4px #ffbbbb,
    5px 5px #ffbbbb;
    -webkit-transform: translateX(-5px);
    transform: translate(-5px, -5px);
    transition: all 400ms;
}

.articleLink {

    color: #4e555b;
    text-decoration: none;
}

.article {
    transition: all 200ms;
    border: 1px #ffdddd solid;
    background: white;
    margin-bottom: 10px;
}