.const-wrap {
    width: 60%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    z-index: 1;
}
.new-article-cancel-alert{
    height: 250px;
    width: 400px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.new-article-cancel-alert-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
    border-bottom: solid #ccc 1px;
    padding: 0 50px;
}
.new-article-cancel-alert-btn{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 50px;
}
.cancel-btn {
    border: none;
    background: white;
    color: #b21f2d;
}
.save-btn {
    border: none;
    color: white;
    background: #b21f2d;
    width: 100px;
    height: 40px;
    margin-left: 30px;
}
.cancel-box {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 400ms;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.main-a-const {

    margin-top: 100px;
    width: 100%;
    height: 1000px;

}

.breakdown-const {
    width: 100%;
    height: 300px;
}

.photo-of-the-day-const {
    width: 100%;
    height: 1300px;
    display: flex;
    flex-wrap: wrap;

}

.mots-sec-const {
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.const-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 250px;
    align-items: center;
    justify-content: space-between;
}

.txt-const {
    color: grey;
}

.small-select {
    width: 30%;
    height: 100px;
}

.big-select {
    width: 100%;
    height: 100px;
}

.previewComponent {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgPreview {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(246, 246, 246);
    border: 2px dotted #bebebe;
    border-radius: 10px;
}

input[type="file"] {
    position: absolute;
    left: 0;
    opacity: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

.customPhotoupload {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
}

.previewText {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 450px;
    font-size: 18px;
}

.textForm {
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.textLabel {
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.textInput {
    width: 100%;
    height: 50px;
}

.most-pop {
    width: 47%;
    height: 50px;
    background: rgb(246, 246, 246);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
}
