.head-wrap {
    top:0;
    width: 100%;
    height: 260px;
    position: sticky;
    z-index: 2;
    box-shadow: 0px 8px 20px -6px lightgrey;
    background-color: white;
}
.head-default{
    height:100px;
    justify-content:space-between;
    display: flex;

}
.admin-logo{
    font-size: 22px;
    display: flex;
    justify-content:center;
    align-items:center;
    width: 300px;
    height:100%;
    background-color: #d72130!important;
    grid-column-start: 1;
    grid-column-end: 2;
}
.admin-user{
    font-size: 22px;
    display: flex;
    justify-content:center;
    align-items:center;
    width: 400px;
    height:100%;


}
.admin-user a{
    text-decoration:none;
    color:#000;


}
.loh {
    height: 50000px;
    width: 100%;
    background-color: red;
}

.head-title {
    display: flex;
    width: 100%;
    height: 100px;
    border-bottom: #c8c7c7 solid 1px;
    justify-content: space-between;

}

.head-list {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
}

.head-list > ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none !important;
    text-decoration: none !important;
    color: lightslategray;

}

.hdt-a {
    list-style-type: none !important;
    text-decoration: none !important;
    color: lightslategray !important;
    background-color: white !important;
}

.hdt-a:hover {
    color: red !important;
    text-decoration: none !important;
}

.selected-category{
    color: #b21f2d!important;
}
.hdt {
    height: inherit;
    /*background-color: blanchedalmond;*/
    width: 300px;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.head-func a{
    color: white;
    text-decoration: none;
}

.head-func {
    height: inherit;
    width: 400px;
    margin-right: 50px;
    display:flex;
    justify-content:center;
    align-items: center;
}


.horizontal-menu {
    justify-content: center;
}

.menu-item1 a{
    text-decoration: none;
    color: #ccc;
}
.menu-item1 {
    user-select: none;
    cursor: pointer;
    border: none;
    list-style-type: none !important;
    text-decoration: none !important;
    color: lightslategray !important;
    background-color: white !important;
}
.link-box{
    padding: 0 40px;
    margin: 5px 10px;
}

.menu-item1.active {

    list-style-type: none !important;
    text-decoration: none !important;
    color: lightslategray !important;
    background-color: white !important;
}


.scroll-menu-arrow {
    padding: 20px;
    cursor: pointer;
}


.menu-item-wrapper.active {
    border: none;
    list-style-type: none !important;
    text-decoration: none !important;
    color: lightslategray !important;
    background-color: white !important;
}

.horizontal-menu {
    justify-content: space-evenly;
}

.menu-wrapper {
}

.menu-wrapper--inner {
    display: flex;
    justify-content: space-evenly;

}