a.navbar-brand {
  border: 1px solid #919191;
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.brand-card {
  padding: 12px 50px 12px 50px;
  font-size: 20px;
  background-color: #d72130;
  text-align: center;
  text-decoration: none;
}
.brand-text:hover {
  color: white;
  text-decoration: none;
}
.brand-text {
  text-align: center;
  color: white;
}

.borders-card {
  background-color: #ffffff;
  border: 1px solid grey;
  border-left: none;
}

.search-card {
  border-width: 0;
}

form.header-form input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
}

form.header-form button {
  float: left;
  width: 20%;
  padding: 10px;
  background: none;
  border: none;
  color: #000000;
  font-size: 17px;
  cursor: pointer;
}

form.header-form::after {
  content: "";
  clear: both;
  display: table;
}

.share-card {
  padding: 12px 50px 12px 50px;
  font-size: 17px;
  border: 0 none;
}
