.menu .sidebar {
display: inline-block;
}

.page-wrapper {
  display: flex;
  justify-content: space-between;
    width: 100%;
    margin: 20px;
}
.left-panel-wrapper {
  width: 200px;
  background-color: orange;
}
.right-panel-wrapper {
  width: 200px;
  background-color: green;
}
.content-wrapper {
  /*width: 250px;*/
  width: calc(100% - 400px);
  padding: 0 30px;
}

.content {
  width: 100%;
  margin: 0 auto;
}

.categories {
    height: 400px;
    margin: 0 auto;
    padding: 20px;
    display: inline-block;
}