.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 450px;

  z-index: -10000;
}

.slideshowSlider {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  z-index: -10000;
}
.animated{
  transition: ease 1000ms;
  z-index: -10000;
}

.slide {

  z-index: -10000;
  height: 450px;
  width: 450px;

}

